version: '3.8'

services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
    volumes:
      - ./db/restore.sql:/docker-entrypoint-initdb.d/restore.sql
      - ./db/data_files/:/docker-entrypoint-initdb.d/data_files
  postgraphile:
    build:
      context: .
      dockerfile: ./db/Dockerfile
    restart: always
    depends_on:
      - db
    ports:
      - "5000:5000"
  app:
    build:
      context: .
      dockerfile: ./app/Dockerfile 
    restart: always
    depends_on:
      - postgraphile
    ports:
      - "8080:8080"
    command: ./nonodo

  k6:
    image: loadimpact/k6
    depends_on: 
      - app
    volumes:
      - ./test.js:/test/test.js
    command: run /test/test.js
    deploy:
      replicas: 0 # Don't auto start service on docker up command

volumes:
  pgdata: